@model Lech_Poznań.Models.Nagrody_dla_zawodników

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nagrody_dla_zawodników</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nagrody.Nagroda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nagrody.Nagroda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zawodnicy.Imię)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zawodnicy.Imię)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdNZ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
